// Mailchimp styles

.mc-field-group {
  display: inline-block;
}

div.mce_inline_error {
  // position: absolute;
  width: 100%;
  color: #fff;
  opacity: .6;
  margin-top: 10px;
}

div#mce-responses {
  color: #fff;
  opacity: .6;
  margin-top: 10px;
  a {
    color: #fff;
    opacity: .6;
    text-decoration: underline;
  }
}

.clear {
  display: inline-block;
}

#mc-embedded-subscribe-form {
  input {
    box-sizing: border-box;
  }
  input[type=submit] {
    width: 175px;
  }
  input[type=email] {
    margin: 0 10px 0 0;
    font-size: 14px;
  }
}

.tagline-social-share {
  opacity: 0;
  transition: 1s all ease;
  display: block;
  width: 310px;
  iframe {
    margin: 0 10px;
  }
}

/* Placeholder styles */

*::-webkit-input-placeholder {
  color: #fff;
  opacity: .6;
}

*:-moz-placeholder {
  color: #fff;
  opacity: .6;
}

*::-moz-placeholder {
  color: #fff;
  opacity: .6;
}

*:-ms-input-placeholder {
  color: #fff;
  opacity: .6;
}